body {
    width: 1200px;
    margin: auto;
    font-family: "Ysabeau SC";
    color: #36454f;
}

main.home {
    background-color: #fcf9ec;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poetson One";
    margin-left: 20px;
    font-size: 60px;
}

nav {
    background-color: #008080;
    height: 65px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav img {
    float: left;
    height: 55px;
    padding-left: 40px;
    padding-right: 20px;
}

nav select {
    float: left;
    padding-top: 5px;
    margin-top: 10px;
    height: 35px;
}

footer {
    background-color: #e57f3d;
    border-radius: 10px;
    text-align: center;
    padding: 40px 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    float: left;
    font-family: "Permanent Marker";
    color: #e57f3d;
    margin-left: 20px;
    font-size: 86px;
}

.subTitle {
    float: left;
    clear: left;
    color: #008080;
}

img.mainImg {
    float: right;
    border-radius: 50%;
    height: 480px;
    margin: 48px;
}

.petsHeading {
    text-align: center;
    font-weight: bolder;
    font-family: "Poetson One";
}

.petsText {
    text-align: center;
}

.petsImg {
    float: left;
    width: 496px;
    margin-top: 10px;
    margin-bottom: 38px;
}

.petsTable {
    float: right;
    text-align: left;
    width: 548px;
    border: 1px solid;
    margin-top: 10px;
}

.petsTable th {
    background-color: #fcf9ec;
    color: #008080;
}

.newPet {
    #name, #type, #description, #caption, #age, #location {
        width: 100%;
    }
}

.newPet label::after {
    content: " *";
    color: red;
}

.buttons {
    text-align: center;
    input {
        margin: 10px;
    }
}