#p1 {
    font-family: "Times New Roman";
}

#p2 {
    font-family: Georgia;
}

#p3 {
    font-family: Cambria;
}

#p4 {
    font-family: Arial;
}

#p5 {
    font-family: Verdana;
}

#p6 {
    font-family: "Trebuchet MS";
}

#p7 {
    font-family: Courier;
}