body {
    background-color: lightgray;
}

p {
    width: 500px;
    font-family: Verdana;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    border-left-width: 10px;
    margin: 20px;
    padding: 10px;
}

.p2 {
    position: absolute;
    left: 500px;
    top: 500px;
}